/* ---------------------------------------------------------------- */
/* 1. ABSTRACTS                                                     */
/* ---------------------------------------------------------------- */

/* In Abstracts you can write your variables or mixins              */
/* You override Bootstrap variables even if it's before it          */

 @import "./abstracts/_a_variables";
 @import "./abstracts/_a_colors";

/* ---------------------------------------------------------------- */
/* 2 Utils:                                                       */
/* ---------------------------------------------------------------- */

@import "./utils/_u_functions";
@import "./utils/_u_normalize";
@import "./utils/_u_grid";
@import "./utils/_u_z-indexes";
@import "./utils/_u_shortcuts";
@import "./utils/_u_mixins";

/* ---------------------------------------------------------------- */
/* 3. VENDORS                                                       */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* 3.1 VENDORS OVERRIDES                                            */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* 4. THIS PROJECT STYILING                                         */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* 4.1 Basics:                                                       */
/* ---------------------------------------------------------------- */

@import "basics/b_typography";
@import "basics/forms/b_forms";
@import "basics/b_buttons";
@import "basics/b_generalanimations";
/* ---------------------------------------------------------------- */
/* 4.3 Components:                                                  */
/* ---------------------------------------------------------------- */

@import "components/_c_stage";
@import "components/_c_header";
@import "components/three-html/_c_work";

/* ---------------------------------------------------------------- */
/* 4.4Layouts:                                                     */
/* ---------------------------------------------------------------- */
@import "layouts/_l_base_layout";


//@import "layouts/l-main-content";