.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: $z-i-header;
  padding: $siteMargin;
  letter-spacing: 1px;
  .header__logo {
    width: 7rem;
    svg {
      fill: getColor('text');
    }
  }
  .header__nav {
    display: flex;
    align-items: center;
    &__item {
      &:not(:last-child) {
        padding-right:$siteMargin;
      }
      a {
        color: white;
        text-transform: uppercase;
        font-size: 0.85rem;
      }
      svg {
        stroke: getColor('text');
      }
    }
  }
  .header__title {
    position: fixed;
    bottom: $siteMargin;
    left: $siteMargin*2;
    color: getColor('text');
    transform-origin: left ;
    transform: rotate(-90deg);
    text-transform: uppercase;
  }
}