$scrollerW: 100vw;
$scrollerH: 100vh;

.scroller {
  position: relative;
  width: $scrollerW;
  height: $scrollerH;
  overflow: hidden;
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.scroller--vertical {
  .scroller__inner {
    width: 100%;
  }
}

.scroller--horizontal {
  .scroller__inner {
    display: inline-flex;
    align-items: center;
    > div {
      width: $scrollerW;
      height: $scrollerH;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
