$theme-colors: (
        'primary': #a00c01,
        'secondary': #111316,
        'text': #ffffff,
        'lightGrey': #fafafa,
        'borderColor': #ebebeb,
        'inverted': #fff,
        'success': #00731f,
        'error': #d60012,
        'warning': #ef9702,
);

// creates classes for color and background with each variant color
@each $color, $val in $theme-colors {
  .bg-#{$color} {
    background-color: $val;
  }
  .color-#{$color} {
    color: $val;
  }
  :root {
    --color-#{$color}: #{$val};
  }
}

@function getColor($key:'primary') {
  @return map-get($theme-colors, $key)
}
